body{
    background-color: #f3efd8;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container{
    border-radius: 1rem;
    padding:1rem;
}
img{
    border-radius: 1rem;
}
.duration{
    background-color: #fff7fc;
    border-radius: 1rem;
}
.duration>h3{
    color: #735564;
}
h2{
    color:#7d6a63
}
